#footer{
    background-color:rgb(52, 122, 134);

    width: 100vw;
    position: fixed;
    bottom:0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    
    p{
        text-align:center;

        a{
            color: white;
            text-decoration: none;
        }
        
    }
}